@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

* {
  color: rgb(239, 239, 239);
  box-sizing: ;
}

body {
  background-image: linear-gradient(rgb(0, 0, 0), rgb(50, 45, 18));

}

header {
  font-size: 4rem;
  text-align: right;
  font-family: "Bebas Neue", sans-serif;
  margin: 1.5rem 0.75rem;
  position: relative;
}

.delete-button {
  color: black;
display: block;
margin: 20px auto;
padding: 10px 5px; 
font-family: Verdana, Geneva, Tahoma, sans-serif;
background-color: rgb(255, 255, 108); 
border-radius: 5px;

}


.delete-button:hover {
background-color: rgb(250, 250, 245); 
}

.drunkButton{
  padding: 10px; 
  margin: 10px; 
  background-color: rgb(225, 215, 144);
  font-size: 16px;
  font-family: "Bebas Neue", sans-serif;
  border-radius: 20px;
}

h2 {
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
}

.drunkButton:hover{

  background-color: rgb(49, 48, 38);

}


.drunkButton:active{
font-style: italic;
  background-color: gray; 
  color: white; 
}

.dropdown-menu {
  display: none;
}

.dropdown-menu:target {
  display: block;
}

.hero {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url("./images/drinksmovies_header.jpeg");
  background-size: cover;
  background-position: 100% 10%;
  filter: grayscale(50%) contrast(150%);
  border: 15px solid black;
  border-radius: 25px;
}

.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 36px;
  margin: 15px;
  padding: 15px;
}

.drink-options {
  font-size: 24px; 
  font-family: "Bebas Neue", sans-serif;
  color: orange;
padding: 25px;
}

.form-container label {
  color: yellow;
}

.form-container button {
  font-family: "Bebas Neue", sans-serif;
  color: black;
  width: 10rem;
  padding: 15px 5px;
  margin: 30px auto;
  font-size: 26px;
  border-radius: 10px;
}

.custom-navbar {
background-image: linear-gradient(rgb(45, 41, 34), gray);
  display: flex;
  justify-content: space-around;
}

.custom-navbar img {
  filter: grayscale(75%);
}

.custom-navbar button {
  color: black;
  border-radius: 30px;
  font-family: "Bebas Neue", sans-serif;
}

.custom-navbar button:hover {
  background-color: orange;
  color: white; 
}

.drink-display {
  display: flex;
  flex-direction: column;
}

.drink img:hover {
  box-shadow: 0 0 15px 25px rgba(255, 199, 31, 0.5);
}


.drunkButton {
  margin: 25px auto 10px;
  color: black;
  padding: 10px 15px;

}
.genreList {
  display: flex; 
  margin: 15px auto 5px; 
  padding: 5px; 
  font-family: "Bebas Neue", sans-serif;
  width: 50%; 
  justify-content: space-evenly;
  font-style: italic;
}

.drink-options {
  margin: 15px auto;
  font-family: "Bebas Neue", sans-serif;
}

.drink-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.drinks-container {
  text-align: center;
  border: 2px solid orange;
  width: 60%;
  margin: 10px auto;
  /* display: flex;  */
}

.drinks-container h3 {
  padding: 20px;
  margin: 10px;
}

.drink img {
  width: 300px;
  height: 300px;
  margin: 25px auto;
  border: 2px solid orange;
}

.drink h4 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
}

.drink ul {
  text-align: left;
  margin: 10px 15px;
  padding: 10px 20px;
}
.drink li {
  list-style: circle;
}

.drink p {
  text-align: left;
  margin: 10px;
  padding: 10px;
}

.navbar-brand img:hover {
  border: 3px solid orange;
  background-color: beige;
  filter: grayscale(0%);
  transform: rotate(1deg);
}

.modal-card {
  background-color: rgb(185, 140, 56); 
}

.displayFavoriteMessage {
  text-align: center;
}


.footer {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: black;
}
.footer h6 {
  color: black;
  font-size: 16px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.footer img {
  width: 5%;
  height: 5%;
}

.modal-card-title {
  text-align: center;
}

.modal-card-body {
  border: 3px solid orange; 
  border-radius: 50px;
}

.modal-card-body h4 {
  color: black;
  font-weight: bolder;
  padding: 5px;
  margin: 5px; 

}

.modal-card-body li {
  color: black;
}


.modal-card-body p {
  color: black;
}

#favorites {
  display:flex; 
  justify-content: center;
  flex-wrap: wrap;

}

#favorites img {
  width: 180px;
    height: 250px;
    margin: 4px; 
}

#genre {
  position: relative;
  width: 25%;
  margin: 10px auto;
  padding: 15px 10px;
  color: black;
  text-align: center;
  background-color: lightgray;
}

#genre:hover {
  background-color: lightyellow;
}

#randomMovie {
  font-family: "Bebas Neue", sans-serif;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 10px 15px;
  padding: 15px;
  text-align: center;
}

#loadRandomMovie:hover {
  background-color: lightyellow;
}

#loadRandomMovie:active {
  font-style: italic;
}

#randomMovie h2 {
  font-size: 42px;
  font-family: "Bebas Neue", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  font-weight: bold;
  margin: auto;
  color: rgb(216, 199, 165);
}

#randomMovie img {
  width: 380px;
  height: 500px;
  margin: 25px auto;
}


@media screen and (min-width: 768px) {
  .drinks-container {
    width: 40%;
    margin: 10px auto;
  }

  .hero {
    content: "";
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url("./images/drinksmovies_header.jpeg");
    background-position: 35% 10%;
    filter: grayscale(87%) contrast(150%);
    border: 15px solid black;
    border-radius: 25px;
  }

  #randomMovie {
    display: flex; 
  }


  #randomMovie img {
    width: 580px;
    height: 700px;
  }

  }
}
